{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Food{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="group">Group</label>
    <select name="group" width="300px">
       {% for group in groups %}
                <option value="{{ group.id}}">{{ group.group_name }}</option>
       {% endfor %}
    </select>
    <label for="name">Name</label>
    <input name="name" id="name">{{ request.form['name'] }}</input>
    <label for="rating">Compatibility Rating</label>

    <select name="rating">
        {% for value, description in cr_list %}
           <option value="{{value}}" >{{description}}</option>
        {% endfor %}
    </select>
    <label for="trigger">Trigger Mechanism</label>
    <select name="trigger">
        {% for value, description in tm_list %}
           <option value="{{value}}" >{{description}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
{% endblock %}
