{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Food List{% endblock %}</h1>
  <a class="action" href="{{ url_for('food.create') }}">Add Food</a>
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-md-4">
           <table class="table table-bordered table-responsive-md btn-table" id="food_table">
                <thead>
                    <tr>
                        <th scope="col">Group Name</th>
                        <th scope="col">Food Name</th>
                        <th scope="col">Compatibility</th>
                        <th scope="col">Trigger Mechanism</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for food in foods %}
                     <tr>
                        <td>{{ food.group_name }}</a></td>
                        <td>{{ food.name }}</a></td>
                        <td>{% for value, description in cr_list %}
                              {% if value == food.compatibility_rating %} {{description}} {% endif %}
                            {% endfor %}
                        </td>
                        <td>{% for value, description in tm_list %}
                              {% if value == food.trigger_mechanism %} {{description}} {% endif %}
                            {% endfor %}
                        </td>
                        <td><a class="btn btn-primary" href="{{ url_for('food.update', id=food['id']) }}">Edit</a></td>
                      </tr>
                     {% endfor %}
                 </tbody>
    </table>
  </div>
</div>

{% endblock %}
