{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ food['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="group">Group</label>
    <select name="group" width="300px">
       {% for group in groups %}
                <option value="{{ group.id}}" {% if group.id == original_group %} selected {% endif %}>{{ group.group_name }}</option>
       {% endfor %}
    </select>
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or food.name }}"></input>

    <label for="rating">Compatibility Rating</label>

    <select name="rating" id="rating">
        {% for value, description in cr_list %}
           <option value="{{value}}" {% if value == original_rating %} selected {% endif %} >{{description}}</option>
        {% endfor %}
    </select>
    <label for="trigger">Trigger Mechanism</label>
    <select name="trigger" id="trigger">
        {% for value, description in tm_list %}
           <option value="{{value}}" {% if value == original_trigger %} selected {% endif %}>{{description}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('food.delete', id=food['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
